<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>WebAtoms<% file %></title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/ribbon.css" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.min.js"><\/script>')
/* ]]> */</script>

<script src="<% request.uri_base %>/javascripts/Blob.js"></script>
<script src="<% request.uri_base %>/javascripts/FileSaver.js"></script>
<script type="text/javascript">
  window.onload=function(){
     document.getElementById("atomsoutput").wrap='off';
  }
</script>
</head>
<body>
<% content %>
</body>
</html>
