
body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #4E4A60;
    background-repeat: no-repeat;
    background-position: top left;

    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
    height:100%;
}

h1 {
    font-size: 28px;
    color: #000;
}
.title {
    font-size: 28px;
    font-weight: bold;
    color: #401490;
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}
.title:hover {
    background-color: #401490;
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}
.subtitle {
    color: #666;
    font-weight: normal;
    font-size: 16px;
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}
    

a {
    color: #401490;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}
a:hover {
    background-color: #401490;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

#page {
    background-color: #4E4A60;
    margin: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: auto;
    overflow:auto;
    min-height: 100%;
}

#content {
    /* background-color: #F1F0FA; */
    background-color: white;
    border: 3px solid #aaa;
    padding: 5px;
    margin-top: 0%;
    width: 48%;
    float: left;
    height: 85vh;
    overflow: auto;
    border-style: none;
    border-radius: 15px;
}

#sidebar {
    z-index: 99;
    background-color: #F1F0FA;
    float: top;
    width: 100%;

    position: relative;
    height: 70px;
    clear:both;} 

#header, #about, #getting-started {
    padding-left: 75px;
    padding-right: 30px;
}

#header {
    background-repeat: no-repeat;
    background-position: top left;
    height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
}

#about h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

#about-content {
    background-color: #ffd;
    border: 1px solid #fc0;
    margin-left: -11px;
}
#about-content table {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    border-collapse: collapse;
}
#about-content td {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
    background-color: #fcc;
    border: 1px solid #f00;
}
#about-content.failure p {
    margin: 0;
    padding: 10px;
}

#getting-started {
    margin-top: 5px;
    padding-top: 5px;
}
#getting-started h1 {
    margin: 0;
    font-size: 20px;
}
#getting-started h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 25px;
}
#getting-started ol {
    margin-left: 0;
    padding-left: 0;
}
#getting-started li {
    font-size: 18px;
    color: #888;
    margin-bottom: 25px;
}
#getting-started li h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #333;
}
#getting-started li p {
    color: #555;
    font-size: 13px;
}

#search {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}
#search input {
    font-size: 11px;
    margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}
#sidebar ul h3 {
    margin-top: 25px;
    font-size: 16px;
    padding-bottom: 10px;
}
#sidebar li {
    list-style-type: none;
}
#sidebar ul.links li {
    margin-bottom: 5px;
    display:inline;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
    clear: both;
    padding-top: 0px;
    text-align: right;
    padding-left: 0px;
    font-family: sans-serif;
    font-size: 10px;
}
#versions {
    text-align: right;
    padding-right: 50px;
    font-family: sans-serif;
    font-size: 10px;
}

#lattice {
    font-family: "Courier New", Courier, monospace;
    padding: 3px;
}
#sites {
    font-family: "Courier New", Courier, monospace;
    padding: 3px;
}

#response {
    /* background-color: #4E4A60; */
    background-color: white;
    margin: 5px;
    margin-right: 10px;
    padding: 0px;
    padding-right: 10px;
    margin-top: 0%;
    border-style: none;
    width: 48%;
    float: right;
    height: 86.2vh;
    border-radius: 15px;
}

#response textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding: 3px 0px 3px 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    height: calc(100% - 50px);
    /* background-color: #F1F0FA; */
    background-color: white;
    overflow-wrap: normal;
    overflow-x: auto;
    border-radius: 15px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}


#urlbutton {
    float: "left";
}
#urlbox { 
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#links {
    align: right;
}

#computebutton {
    background-color: red;
};